@model IEnumerable<HospitalRiwi.Models.Doctor>

@{
    ViewData["Title"] = "Lista de Médicos";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Registrar Nuevo Médico</a>
</p>

<form asp-action="Index" method="get" class="mb-3">
    <div class="input-group">
        <select name="speciality" class="form-control" asp-items="ViewBag.Specialities">
            <option value="">Todas las Especialidades</option>
        </select>
        <button type="submit" class="btn btn-info">Filtrar</button>
    </div>
</form>


<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Documento</th>
            <th>Especialidad</th>
            <th>Teléfono</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Document)</td>
                <td>@Html.DisplayFor(modelItem => item.Speciality)</td>
                <td>@Html.DisplayFor(modelItem => item.PhoneNumber)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>